@{
    ViewBag.Title = "Contato";
    ViewBag.Message = "Se precisar me achar...";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Denys Ribeiro Martinho<br />
    Niterói, RJ 24.230-410<br />
    Phone: +55 21 98122-6133
</address>

<address>
    <strong>contato:</strong>   <a href="mailto:denys.r.martinho@gmail.com">denys.r.martinho@gmail.com</a><br />
</address>
<hr />