@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Projeto Lascarizador</h1>
        <p class="lead">O Projeto Lascalizador foi realizado para atender uma demanda da Stone Pagamentos, a maior empresa no ramo de pagamentos de Bedrock, e foi patrocinado pelas grandes empresas líderes do mercado: Bedrock Bank, Pedregulho S/A e Pterodactyl Airlines.</p>
        <p><a href="https://github.com/Darkstar2099/Lascarizador/blob/master/README.md" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Pterodactyl Airlines</h2>
            <p>Oferecemos uma média de aproximadamente 6.700 voos diários para 350 destinos em 50 países. Conecte-se à Pterodactyl no Twitter PterodactylAir e no Facebook.com/PterodactylAirlines.
            </p>
            <p><a class="btn btn-default" href="http://cdn.smosh.com/sites/default/files/ftpuploads/bloguploads/1013/flintstones-pterodactyl-airplne.jpg">Saiba mais &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Pedregulho S/A</h2>
            <p>A maior construtora de Bedrock pelo quarto ano consecutivo segundo o ranking ITC. Desde a 1979 a.c. no mercado imobiliário, a Pedregulho S/A é a única que oferece casas e apartamentos em mais de 140 localidades de Pangea.</p>
            <p><a class="btn btn-default" href="https://www.gohome.com.br/wp-content/uploads/2014/04/yabba.png">Saiba mais &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Bedrock Bank</h2>
            <p>O Bedrock Bank é um dos maiores grupos financeiros de Pangea, com sólida atuação voltada aos interesses de seus clientes desde 1943 a.c. O melhor lugar para guardar e investir suas <b>lascas</b>!
            </p>
            <p><a class="btn btn-default" href="https://images.propstore.com/160485.jpg">Saiba mais &raquo;</a></p>
        </div>
    </div>
    <hr />
</div> <!-- Container -->
